@charset "UTF-8";
.forkme {
	position: absolute;
	top: 40px;
	right: -50px;
	width: 212px;
	height: 28px;
	font-size: .7rem;
	font-weight: bold;
	border: dotted 1.5px #fff;
	line-height: 30px;
	background-color: #b00;
	background: linear-gradient(#d00, #800);
	text-decoration: none;
	color: #eee;
	transform: rotateZ(45deg);
	text-align: center;
	box-shadow: 2px 2px 2px #333;
}
.forkme:hover::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
}